{% extends "base.html" %}


{% block head_title %}Course List | {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>Course list <small><a href='{% url "courses:create"%}'>Add</a></small></h1>
<ul>
	{% for obj in object_list %}
		<li><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/>{{ obj.course_code }} {{ obj.department }} <br/> <small>{{ obj.timestamp }} {{ obj.updated }}</small></li>

		{% empty %}
			<li><a href='{% url "courses:create"%}'>Add One</a></li>
	{% endfor %}
</ul>
{% endblock %}