{% extends "base.html" %}

{% block head_title %}{{ object }} | {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>{{ object.title }}</h1>
<small>{{ object.timestamp }}, Updated {{ object.updated|timesince }} ago</small>

<ul>
	{% if object.goals %}
	Goals
		<ul>
		{% for goal in object.get_goals %}
			<li>{{ goal }}</li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if object.projects %}
	Projects
		<ul>
		{% for proj in object.get_projects %}
			<li>{{ proj }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	</li>
</ul>
<hr/>

<h3>Make Changes</h3>
{% include 'snippets/form-snippet.html' with form=form %}

{% endblock %}